/* div.css-10trblm e16nr0p30 {
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    padding: 20px 20px 20px 70px;
    border-radius: 10px;
} */
/* section.main.css-uf99v8.egzxvld5{
    background-color: 'red';
} */